:root{
    --background-team-1 : #0e46ee;
    --c1 : #0e46ee;
    --color-team-1 : radial-gradient(var(--c1) 35%, #01acfc , var(--c1) 50%);
    --background-team-2 : red;
    --c2 : #a90000 ;
    --color-team-2 : radial-gradient(var(--c2) 35%, #ff1c1c , var(--c2) 50%);
    --background-team-3 : green;
    --c3 : #00a922 ;
    --color-team-3 : radial-gradient(var(--c3) 35%, #0be100 , var(--c3) 50%);
    --background-team-4 : yellow;
    --c4 : #fbff00 ;
    --color-team-4 : radial-gradient(var(--c4) 35%, #d8eb0a , var(--c4) 50%);
}

roll-dice{
    z-index: 1;
    position: absolute;
}

roll-dice canvas{
    --amount : 11;
    --size : calc(((var(--square-size) + 1vh) * var(--amount) ) - 1vh );
    width: var(--size);
    height:var(--size);
}

[block]{
    pointer-events: none;
}

mens-erger-je-niet{
    border: 3px solid cyan;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: fit-content;
    margin: auto;
    --square-color-1 : #ffffff00;
    --square-size : 7vh;
    --pawn-size : calc(var(--square-size) * 0.8);
}

mens-erger-je-niet[turn="1"]{
    border-color: var(--background-team-1);
}

mens-erger-je-niet[turn="2"]{
    border-color: var(--background-team-2);
}

mens-erger-je-niet[turn="3"]{
    border-color: var(--background-team-3);
}

mens-erger-je-niet[turn="4"]{
    border-color: var(--background-team-4);
}

niet-pawn{
    width: var(--pawn-size);
    height: var(--pawn-size);
    border-radius: 50%;
    box-shadow: 6px 6px 5px 5px rgba(0, 0, 0, 0.3);
    border : 1px solid black;
    pointer-events: none;
}

niet-pawn[player = "1"]{
    background: var(--color-team-1);
}
niet-pawn[player = "2"]{
    background: var(--color-team-2);
}
niet-pawn[player = "3"]{
    background: var(--color-team-3);
}
niet-pawn[player = "4"]{
    background: var(--color-team-4);
}

game-grid{
    --border-size : 1vh;
    --border-color : #f5f9b9
}

grid-tile{
    border-radius: 35%;
}

game-grid grid-tile[path]{
    background-color : white ;
}

game-grid grid-tile[path],game-grid grid-tile[finish],game-grid grid-tile[basetile]{
    border: 1px solid darkgray;
}

game-grid grid-tile[basetile = "1"],game-grid grid-tile[starTile = "1"], game-grid grid-tile[finish='1']{
    background-color: var(--background-team-1);
}

game-grid grid-tile[basetile = "2"],game-grid grid-tile[starTile = "2"],game-grid grid-tile[finish='2'] {
    background-color: var(--background-team-2);
}

game-grid grid-tile[basetile = "3"],game-grid grid-tile[starTile = "3"],game-grid grid-tile[finish='3']{
    background-color: var(--background-team-3);
}

game-grid grid-tile[basetile = "4"],game-grid grid-tile[starTile = "4"],game-grid grid-tile[finish='4']{
    background-color: var(--background-team-4);
}