rtevent-log{
    --headHeight : 30px;
    display: block;
    width: 300px;
    height: 250px;
    overflow-y: auto;
    background-color: #adadad36;
    transition: height 0.3s;
    border :1px solid black;
    border-radius: 5px;
}

rtevent-log[closed]{
    height: var(--headHeight);

    overflow: hidden;
}

rtevent-log #eventlogheader{
    display: flex;
    position: sticky;
    height: var(--headHeight);
    top: 0;
    align-items: center;
    padding-inline-start: 5px;
    /* padding: 5px; */
background-color: #ededed;
border-bottom: 1px solid black;
}

rtevent-log #eventlogbody{
    display: grid;
    padding: 5px;
    row-gap: 5px;
    /* column-gap: 1em; */
    grid-template-columns: 1fr 1fr 3fr;
}