:root{
    --slot-width : 1.5em ;
    --slot-heigt : 1.5em ;
}


master-mind{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#colorShowDiv {
    display: flex;
    background-color: rgb(11, 12, 7);
    outline: auto;
}

#colorShowDiv div {
    width: var(--slot-width);
    height: var(--slot-heigt);
    margin-block: 1em;
}

master-row{
    padding-inline: var(--slot-width);
    padding-block: calc(var(--slot-heigt) / 2);
    display: flex;
    align-items: center;
    background-color: rgb(11, 12, 7);
    outline: auto;
}

master-slot:first-child{
    margin-left: var(--slot-width);
}

master-slot:last-child{
    margin-right: var(--slot-width);
}

master-slot{
    width: var(--slot-width);
    height: var(--slot-heigt);
    border-radius: 50%;
    background-color: gray;
}

master-row[active]::after{
    content: "⬅️";
    width: 0;
}

master-row[hint1]::before{
    content: attr(hint1);
    width: 0;
}

master-row[hint2]::after{
    content: attr(hint2);
    color: red;
    width: 0;
}