:root{
    --border-color : gray ;

}

body{
    background-color: beige;
}

chess-board {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    user-select: none;
}

#dragdiv{
    min-height: 0;
    border: 0;
    z-index: 10;
    position: absolute;
    pointer-events: none;
    touch-action: none;
}

#dragdiv chess-piece{
    pointer-events: none;
}

#movelog{
    width: calc(var(--square-size) * 4);
    height: -webkit-fill-available;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 0;
    justify-items: start;
}

#movelog > li{
    margin-inline-start: 30px;
}

#graveyards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width : calc(var(--square-size) * 4);
    height: -webkit-fill-available;
}

#graveyard_black,#graveyard_white{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.columnbar{
    display: flex;
    background-color: var(--border-color);
    border-radius: 5px 5px 0 0;
}

.columnbar ~ .columnbar{
    border-radius: 0 0 5px 5px;
}

.columnbar > div{
    width: var(--square-size);
}

.columnbar::before, .columnbar::after{
    content: attr(y);
    visibility: hidden;
}

.columnbar::before, .columnbar::after, .rowbar{
    padding-inline: 5px;
}

.rowbar{
    line-height: var(--square-size);
    background-color: gray;
}

.columnbar, .rowbar{
    pointer-events: none;
}

/* aling grid */

#chessboardwrapper{
    display: grid;
}

chess-grid{
    grid-column: 3;
}

.columnbar{
    grid-row: 1;
    grid-column: 2/5;
}

.columnbar ~ .columnbar{
    grid-row: 3;
}

.rowbar{
    grid-row: 2;
    grid-column: 2;
}

.rowbar ~ .rowbar{
    grid-column: 4;
}

/* end align grid */