

body{
    color: #fff;
    background-color: darkgreen;
}

.wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

checker-board{
    width: fit-content;
    margin: auto;
    display: block;
}

game-grid{
    --border-size: 0;
    --square-size : 5em;
}

checker-piece{
    display: block;
    width: calc(var(--square-size) * 0.9);
    height:  calc(var(--square-size) * 0.9);
    border-radius: 50%;
    background: radial-gradient(beige 25%, #e2e4cf , beige 35%);
    margin: auto;
}

checker-piece[player = '2']{
    background: radial-gradient(brown 25% , #c9102f, brown 35%);
}