:root{
    --color-player-1 : beige;
    --color-player-2 : brown;
}

body{
    color: #fff;
    background-color: darkgreen;
}

.wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

checker-board{
    width: fit-content;
    margin: auto;
    display: block;
}

game-grid{
    --border-size: 0;
    --square-size : 5em;
    border : 1em solid black;
}

game-grid[playerturn ="1"]{
    border: 1em solid var(--color-player-1);
}

game-grid[playerturn = "2"]{
    border: 1em solid var(--color-player-2);
}

checker-piece{
    display: block;
    width: calc(var(--square-size) * 0.9);
    height:  calc(var(--square-size) * 0.9);
    border-radius: 50%;
    background: radial-gradient(var(--color-player-1) 25%, #e2e4cf , var(--color-player-1) 35%);
    margin: auto;
    pointer-events: none;
    text-align: center;
    line-height: calc(var(--square-size) * 0.9);
}

checker-piece[king]::before{
    content: "👑";
}

checker-piece[player = '2']{
    background: radial-gradient(var(--color-player-2) 25% , #c9102f, var(--color-player-2) 35%);
}